<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--Offcanvas sidebar-->
<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar" th:fragment="front-sidebar">
    <button class="off-canvas-close"><i class="elegant-icon icon_close"></i></button>
    <div class="sidebar-inner">
        <!--Categories-->
        <div class="sidebar-widget widget_categories mb-50 mt-30">
            <div class="widget-header-2 position-relative">
                <h5 class="mt-5 mb-15">热门话题</h5>
            </div>
            <div class="widget_nav_menu">
                <ul>
                    <li class="cat-item cat-item-2"><a href="category.html">Travel tips</a> <span
                            class="post-count">30</span></li>
                    <li class="cat-item cat-item-3"><a href="category-grid.html">Book review</a> <span
                            class="post-count">25</span></li>
                    <li class="cat-item cat-item-4"><a href="category-list.html">Hotel review</a> <span
                            class="post-count">16</span></li>
                    <li class="cat-item cat-item-5"><a href="category-masonry.html">Destinations </a> <span
                            class="post-count">22</span></li>
                    <li class="cat-item cat-item-6"><a href="category-big.html">Lifestyle</a> <span class="post-count">25</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--Latest-->
        <div class="sidebar-widget widget-latest-posts mb-50">
            <div class="widget-header-2 position-relative mb-30">
                <h5 class="mt-5 mb-30">Don't miss</h5>
            </div>
            <div class="post-block-list post-module-1 post-module-5">
                <ul class="list-post">
                    <li class="mb-30">
                        <div class="d-flex hover-up-2 transition-normal">
                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="single.html">
                                    <img src="/assets/imgs/news/thumb-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">The Life
                                    of a Travel Writer with David Farley</a></h6>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">05 August</span>
                                    <span class="post-by has-dot">300 views</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mb-30">
                        <div class="d-flex hover-up-2 transition-normal">
                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="single.html">
                                    <img src="/assets/imgs/news/thumb-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Why
                                    Don’t More Black American Women Travel Solo?</a></h6>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">12 August</span>
                                    <span class="post-by has-dot">23k views</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mb-30">
                        <div class="d-flex hover-up-2 transition-normal">
                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="single.html">
                                    <img src="/assets/imgs/news/thumb-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">The 22
                                    Best Things to See and Do in Bangkok</a></h6>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">27 August</span>
                                    <span class="post-by has-dot">23k views</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</aside>
<!-- Start Header -->
<header class="main-header header-style-1 font-heading" th:fragment="front-header">
    <div class="header-top">
        <div class="container">
            <div class="row pt-20 pb-20">
                <div class="col-md-3 col-xs-6">
                    <a th:href="@{/}"><img class="logo" src="/assets/imgs/theme/logo.png" alt=""></a>
                </div>
                <div class="col-md-9 col-xs-6 text-right header-top-right ">
                    <ul class="list-inline nav-topbar d-none d-md-inline">
                        <li class="list-inline-item menu-item-has-children" th:if="${session.userName ne null}">
                            <a href="#">[[ ${session.userName} ]]</a>
                            <ul class="sub-menu font-small">
                                <li class="list-item"><a th:href="@{/course/mine}">我的课程</a></li>
                                <li class="list-item"><a th:href="@{/user/collection/mine}">我的收藏</a></li>
                                <li class="list-item"><a th:href="@{/profile/}+${session.userName}">个人中心</a></li>
                                <li class="list-item"><a th:href="@{/user/logout}">注销</a></li>
                            </ul>
                        </li>

                        <li class="list-inline-item" th:if="${session.userName eq null}"><a th:href="@{/login}"><i
                                class="elegant-icon icon_document_alt mr-5"></i>登录</a></li>
                        <li class="list-inline-item" th:if="${session.userName eq null}"><a th:href="@{/register}"><i
                                class="elegant-icon icon_document_alt mr-5"></i>注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky">
        <div class="container align-self-center">
            <div class="mobile_menu d-lg-none d-block"></div>
            <div class="main-nav d-none d-lg-block float-left">
                <nav>
                    <!--Desktop menu-->
                    <ul class="main-menu d-none d-lg-inline font-small">
                        <li><a th:href="@{/}"><i class="elegant-icon icon_house_alt mr-5"></i>首页</a></li>
                        <li class="menu-item-has-children">
                            <a th:href="@{/course}"> 课程</a>
                            <ul class="sub-menu text-muted font-small" id="courseCategoryMenu">
                                <li><a href="home-3.html">职场提升</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/topic/list/all}">论坛</a></li>
                    </ul>
                    <!--Mobile menu-->
                    <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                        <li class="menu-item-has-children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu text-muted font-small">
                                <li><a href="index.html">Home default</a></li>
                                <li><a href="home-2.html">Homepage 2</a></li>
                                <li><a href="home-3.html">Homepage 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="index.html#">Pages</a>
                            <ul class="sub-menu font-small">
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-typography.html">Typography</a></li>
                                <li><a href="page-register.html">Register</a></li>
                                <li><a href="page-login.html">Login</a></li>
                                <li><a href="page-search.html">Search</a></li>
                                <li><a href="page-author.html">Author</a></li>
                                <li><a href="page-404.html">404 page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="index.html#">Category</a>
                            <ul class="sub-menu font-small">
                                <li><a href="category-list.html">List layout</a></li>
                                <li><a href="category-grid.html">Grid layout</a></li>
                                <li><a href="category-masonry.html">Masonry layout</a></li>
                                <li><a href="category-big.html">Big layout</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="index.html#">Single post</a>
                            <ul class="sub-menu font-small">
                                <li><a href="single.html">Default</a></li>
                                <li><a href="single-2.html">Big image</a></li>
                                <li><a href="single-3.html">Left image</a></li>
                                <li><a href="single-4.html">With sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="float-right header-tools text-muted font-small">
                <button class="search-icon d-none d-md-inline"><span class="mr-15 text-muted font-small"><i
                        class="elegant-icon icon_search mr-5"></i>搜索</span></button>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<!--Start search form-->
<div class="main-search-form" th:fragment="front-search">
    <div class="container">
        <div class=" pt-50 pb-50 ">
            <div class="row mb-20">
                <div class="col-12 align-self-center main-search-form-cover m-auto">
                    <p class="text-center"><span class="search-text-bg">Search</span></p>
                    <form th:action="@{/search}" class="search-header" method="post">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" name="searchStr" placeholder="在此处搜索..." required>
                            <input type="hidden" name="page" value="0">
                            <input type="hidden" name="size" value="8">
                            <div class="input-group-append">
                                <select class="form-control" name="searchType">
                                    <option value="course" selected>课程</option>
                                    <option value="topic">讨论</option>
                                </select>
                                <button class="btn btn-search bg-white" type="submit">
                                    <i class="elegant-icon icon_search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-80 text-center">
                <div class="col-12 font-small suggested-area">
                    <h5 class="suggested font-heading mb-20 text-muted"><strong>大家都在搜：</strong></h5>
                    <ul class="list-inline d-inline-block" id="hotTagSearch">
                        <li class="list-inline-item"><a href="category.html">标签1</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-lg-4">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="/assets/imgs/news/thumb-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Travel Tips</a></h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="/assets/imgs/news/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Lifestyle</a></h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="/assets/imgs/news/thumb-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Hotel Review</a></h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--site-bottom-->
<div class="site-bottom pt-50 pb-50" th:fragment="front-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">热门排行</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post" id="hotCourseFooter">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">收藏排行</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post" id="hotCollectionFooter">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">学习人数排行</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post" id="hotLearningFooter">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-widget widget-latest-posts mb-30 mt-20 wow fadeInUp animated">
            <div class="widget-header-2 position-relative mb-30">
                <h5 class="mt-5 mb-30">热门分类</h5>
            </div>
            <div class="carausel-3-columns">
                <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                        <a class="color-white" href="single.html">
                            <img src="/assets/imgs/news/thumb-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <h6><a href="category.html">Travel Tips</a></h6>
                        <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                        <a class="color-white" href="single.html">
                            <img src="/assets/imgs/news/thumb-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <h6><a href="category.html">Lifestyle</a></h6>
                        <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                        <a class="color-white" href="single.html">
                            <img src="/assets/imgs/news/thumb-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <h6><a href="category.html">Foody</a></h6>
                        <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                    <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                        <a class="color-white" href="single.html">
                            <img src="/assets/imgs/news/thumb-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <h6><a href="category.html">Entertaiment</a></h6>
                        <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--container-->
</div>
<!--end site-bottom-->
<!-- Footer Start-->
<footer class="pt-50 pb-20 bg-grey" th:fragment="front-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">快速链接</h5>
                    </div>
                    <ul class="font-small">
                        <li class="cat-item cat-item-2"><a th:href="@{/index}">首页</a></li>
                        <li class="cat-item cat-item-4"><a th:href="@{/list}">课程</a></li>
                        <li class="cat-item cat-item-5"><a th:href="@{/topic}">论坛</a></li>
                        <li class="cat-item cat-item-6"><a th:href="@{/report}">举报</a></li>
                        <li class="cat-item cat-item-7"><a th:href="@{/back/}">管理系统</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget_tagcloud wow fadeInUp animated mb-30" data-wow-delay="0.2s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">热门标签</h5>
                    </div>
                    <div class="tagcloud mt-50" id="hotTagsFooter">
                        <a class="tag-cloud-link" href="category.html">beautiful</a>
                        <a class="tag-cloud-link" href="category.html">New York</a>
                        <a class="tag-cloud-link" href="category.html">droll</a>
                        <a class="tag-cloud-link" href="category.html">intimate</a>
                        <a class="tag-cloud-link" href="category.html">loving</a>
                        <a class="tag-cloud-link" href="category.html">travel</a>
                        <a class="tag-cloud-link" href="category.html">fighting </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget_newsletter wow fadeInUp animated mb-30" data-wow-delay="0.3s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">意见反馈</h5>
                    </div>
                    <div class="newsletter">
                        <p class="font-medium">对于本站有任何体验或使用上的Bug或建议，欢迎在此提交，你的建议使我的作品变得更好！</p>
                        <form class="input-group form-subcriber mt-30 d-flex">
                            <input type="email" class="form-control bg-white font-small">
                            <button class="btn bg-primary text-white" type="submit">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
            <p class="float-md-left font-small text-muted"></p>
            <p class="text-center font-small text-muted">
                Copyright © 2001338046詹昌达
            </p>
        </div>
    </div>
</footer>



</html>