<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>课程 - 线上教学平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
    <!--Offcanvas sidebar-->
    <aside th:insert="~{common/menu-front::front-sidebar}"></aside>
    <!-- Start Header -->
    <header th:insert="~{common/menu-front::front-header}"></header>
    <!--Start search form-->
    <div th:insert="~{common/menu-front::front-search}"></div>

    <main>
        <!--archive header-->
        <div class="archive-header pt-50">
            <div class="container">
                <h2 class="font-weight-900">课程</h2>
                <div class="breadcrumb" th:if="${'tag' eq searchType}">
                    <a th:href="@{/}" rel="nofollow">首页</a>
                    <span></span> 课程
                    <span></span> Tag
                    <span></span> [[${tagName}]]
                </div>
                <div class="breadcrumb" th:if="${'category' eq searchType}">
                    <a th:href="@{/}" rel="nofollow">首页</a>
                    <span></span> 课程
                    <span></span> 分类
                    <span></span> [[${categoryName}]]
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-50"></div>
            </div>
        </div>
        <div class="container">
            <div class="loop-grid mb-30">
                <div class="row">
                    <div class="col-lg-8 mb-30">
                        <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                            <div class="slide-fade">
                                <div class="position-relative post-thumb">
                                    <div class="thumb-overlay img-hover-slide position-relative" th:style="'background-image: url(/media/course/img/'+${firstCourse.courseImg}+')'">
                                        <a class="img-link" th:href="@{/course/intro/}+${firstCourse.courseId}"></a>
                                        <div class="post-content-overlay text-white ml-30 mr-30 pb-50">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                <a th:href="@{/course/list/tag/}+${tag.tagId}" th:each="tag : ${tagMap.get(firstCourse.courseId)}"><span class="post-cat text-info text-uppercase" th:text="${tag.tagName}">标签1</span></a>
                                            </div>
                                            <h3 class="post-title font-weight-900 mb-20">
                                                <a class="text-white" th:href="@{/course/intro/}+${firstCourse.courseId}" th:text="${firstCourse.courseName}">查询出来的第一个课程</a>
                                            </h3>
                                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                                <span class="post-on" th:text="${#dates.format(firstCourse.courseCreateTime,'yyyy-MM-dd')}">2022-03-17</span>
                                                <span class="hit-count has-dot"><i class="elegant-icon arrow_triangle-right_alt2"></i> [[${firstCourse.courseViews}]]</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s" th:each="course : ${resList}">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" th:style="'background-image: url(/media/course/img/'+${course.courseImg}+')'">
                                <a class="img-link" th:href="@{/course/intro/}+${course.courseId}"></a>
                            </div>
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                    <a th:href="@{/course/list/tag/}+${tag.tagId}" th:each="tag : ${tagMap.get(course.courseId)}"><span class="post-cat text-info text-uppercase" th:text="${tag.tagName}">标签1</span></a>
                                </div>
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-900">
                                        <a  th:href="@{/course/intro/}+${course.courseId}" th:text="${course.courseName}">课程标题</a>
                                    </h5>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on" th:text="${#dates.format(course.courseCreateTime,'yyyy-MM-dd')}">2022-03-17</span>
                                        <span class="hit-count has-dot"><i class="elegant-icon arrow_triangle-right_alt2"></i> [[${course.courseViews}]]</span>
                                        <span class="time-reading has-dot"><i class="elegant-icon icon_star"></i> 555</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>

    <!--site-bottom-->
    <div th:insert="~{common/menu-front::front-bottom}"></div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <footer th:insert="~{common/menu-front::front-footer}"></footer>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/wow.min.js"></script>
    <script src="/assets/js/vendor/jquery.ticker.js"></script>
    <script src="/assets/js/vendor/jquery.vticker-min.js"></script>
    <script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/assets/js/vendor/jquery.sticky.js"></script>
    <script src="/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/page/front/course-list.js"></script>
</body>

</html>