<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>线上教学平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/plugins/notifications/css/css.css">
    <link rel="stylesheet" href="/plugins/notifications/css/lobibox.min.css">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/icons.css" rel="stylesheet">

    <style>
        #chatOnline {
            border: 0;
            font-size: 13px;
            box-shadow: none;
            outline: 0;
            color: #fff;
            background: var(--color-primary);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            padding: 0;
            margin-right: 10px;
            box-shadow: 0 2px 4px var(--button-shadow-color-normal), 0 0 0 transparent;
            transition: all .25s cubic-bezier(.02, .01, .47, 1);
        }

        .chat-header {
            /* position: absolute; */
            height: 70px;
            left: 0;
            top: 0;
            padding: 15px;
            background: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            border-top-right-radius: .25rem;
            z-index: 1;
        }
    </style>
</head>

<body>
<!--Offcanvas sidebar-->
<aside th:insert="~{common/menu-front::front-sidebar}"></aside>
<!-- Start Header -->
<header th:insert="~{common/menu-front::front-header}"></header>
<!--Start search form-->
<div th:insert="~{common/menu-front::front-search}"></div>

<main class="bg-grey pb-30">
    <div class="container single-content">
        <div class="entry-header entry-header-style-1 mb-50 pt-50">
            <h1 class="entry-title mb-50 font-weight-900" th:text="${course.courseName}">
                课程标题
            </h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="entry-meta align-items-center meta-2 font-small color-muted">
                        <p class="mb-5">
                            <a class="author-avatar" th:href="@{/profile/}+${course.courseCreater}"><img
                                    class="img-circle" th:src="'/media/user/img/'+${user.userImg}"></a>
                            <a th:href="@{/profile/}+${course.courseCreater}"><span class="author-name font-weight-bold"
                                                                                    th:text="${course.courseCreater}">XXX老师</span></a>
                        </p>
                        <span class="mr-10" th:text="${#dates.format(course.courseCreateTime,'yyyy-MM-dd HH:mm:ss')}"> 2022/3/16 10:10:15</span>
                        <!--                            <span class="has-dot"> 8 mins read</span>-->
                    </div>
                </div>

            </div>
        </div>
        <!--end single header-->
        <div class="image mb-30 m-auto text-center border-radius-10">
            <video class="border-radius-10" th:src="'/media/course/video/'+${course.courseVideo}"
                   src="/assets/video/heyyaduckonly.mp4" controls></video>
        </div>
        <!--figure-->
        <article class="entry-wraper mb-50">
            <div class="entry-main-content wow fadeIn animated">
                <p th:text="${course.courseDetail}">课程简介</p>
            </div>
            <div class="entry-bottom mt-50 mb-30 wow fadeIn animated">
                <div class="tags">
                    <span>Tags: </span>
                    <a class="text-capitalize" th:href="@{/course/list/show/tag/}+${tag.tagId}" th:each="tag : ${tagList}"
                       th:text="${tag.tagName}">标签</a>
                </div>
            </div>
            <div class="single-social-share clearfix wow fadeIn animated">
                <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                    <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>[[${firstComments.getNumberOfElements()}]]</span>
                    <span class="hit-count mr-15"><i
                            class="elegant-icon icon_star_alt mr-5"></i>[[${collectNum}]]</span>
                    <span class="hit-count" th:if="${avgRate.isNaN()}"><i
                            class="elegant-icon icon_star-half_alt mr-5"></i>暂无评分/10</span>
                    <span class="hit-count" th:if="${!avgRate.isNaN()}"><i
                            class="elegant-icon icon_star-half_alt mr-5"></i>[[${#numbers.formatDecimal(avgRate,1,'COMMA',1,'POINT')}]]/10</span>
                </div>
                <div class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4"
                     id="collectionDiv">
                    <li class="list-inline-item" th:if="${isCollection}">
                        <button type="button" class="btn btn-info px-5 radius-30" onclick="delCollection()">
                            <i class="bx bx-heart mr-1"></i>已收藏
                        </button>
                    </li>
                    <li class="list-inline-item" th:if="${!isCollection}">
                        <button type="button" class="btn btn-primary px-5 radius-30" onclick="addCollection()">
                            <i class="bx bx-heart mr-1"></i>收藏
                        </button>
                    </li>
                </div>
            </div>
            <!--author box-->
            <div class="author-bio p-30 mt-50 border-radius-10 bg-white wow fadeIn animated">
                <div class="author-image mb-30">
                    <a href="#"><img th:src="'/media/user/img/'+${user.userImg}" alt="" class="avatar"></a>
                </div>
                <div class="author-info">
                    <h4 class="font-weight-bold mb-20"><span class="vcard author"><span class="fn"><a
                            th:href="@{/profile/}+${user.userName}" th:text="${user.userName}">用户名</a></span></span>
                    </h4>
                    <h6>课程公告：</h6>
                    <div class="author-description text-muted" th:text="${course.courseNotice}">课程公告..... balabala</div>

                    <h6>相关课件：</h6>
                    <div th:if="${courseFileList.size() eq 0}" class="author-description text-muted">暂无课件</div>
                    <div th:if="${courseFileList.size() ne 0}" th:each="courseFile : ${courseFileList}"
                         class="author-description text-muted">[[${courseFile.fileUrl}]]&emsp;
                        <a th:href="'/media/course/file/'+${courseFile.fileUrl}" class="author-bio-link" download=""
                           target="_blank">下载</a>
                    </div>
                </div>
            </div>
            <!--在线指导-->
            <a href="javascript:void(0);" id="chatOnline"
               style="position: fixed; z-index: 2147483647; display: block;bottom: 75px;right: 32px;"
               data-toggle="modal"
               data-target="#chatModal"
               th:if="${session.userName ne user.userName}">
                <i class="bx bx-chat"></i>
            </a>
            <!--Rate-->
            <div class="p-30 mt-50 border-radius-10 bg-white wow fadeIn animated">

                <h4 class="col-md-12">评分</h4>
                <form class="form-group mx-auto" id="rateForm">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="range" class="form-control"
                                   style="padding: 0;margin-left: 20px;margin-right: 20px"
                                   id="score" name="score"
                                   min="1" step="1" max="10" value="8" onchange="RangeOnChange()"
                                   th:if="${-1 eq currentRate}">
                            <input type="range" class="form-control" name="score"
                                   style="padding: 0;margin-left: 20px;margin-right: 20px"
                                   min="1" step="1" max="10" th:value="${currentRate}" onchange="RangeOnChange()"
                                   th:if="${-1 ne currentRate}" disabled>
                            <input type="hidden" name="courseId" th:value="${course.courseId}">

                        </div>
                        <div class="col-md-1 text-center" id="scoreLabel">
                            <p class="align-items-center mt-3" th:if="${-1 eq currentRate}"><strong>8</strong>/10</p>
                            <p class="align-items-center mt-3" th:if="${-1 ne currentRate}">
                                <strong>[[${currentRate}]]</strong>/10</p>
                        </div>
                        <div class="col-md-3" id="btnDiv">
                            <button type="submit" class="btn btn-primary px-5 radius-30" th:if="${-1 eq currentRate}">
                                <i class="bx bx-star mr-1"></i>评分
                            </button>
                            <button type="button" class="btn btn-info px-5 radius-30" th:if="${-1 ne currentRate}"
                                    disabled><i
                                    class="bx bx-star mr-1"></i>已评分
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <!--Homework-->
            <div class="p-30 mt-50 border-radius-10 bg-white wow fadeIn animated" th:fragment="homework_area" id="homework_area">

                <h4 class="col-md-12">练习</h4>
                <div class="text-center" th:if="${homeworkList.size() eq 0}"><label>暂无练习</label></div>
                <form class="form-group mx-auto" name="workForm" th:each="work : ${homeworkList}">
                    <div class="row">
                        <div th:if="${workStat.index eq 0}" class="bt-1 border-color-1 mt-10 mb-20" style="width: 100%"></div>

                        <div class="col-md-10 offset-md-1 col form-group">
                            <h6><strong>[[${workStat.index+1}]]、[[${work.workTitle}]]</strong></h6>
                            <input type="hidden" name="workId" th:value="${work.workId}">
                            <input type="hidden" name="courseId" th:value="${work.courseId}">
                            <input type="hidden" name="userName" th:value="${session.userName}">
                            <!--当用户已经做了练习-->
                            <div class="form-check" th:each="opt : ${work.workOption.split(',')}" th:if="${homeworkAnswerList.size() ne 0}">
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 0}" value="A"
                                       th:checked="${homeworkAnswerList[workStat.index].workAnswer.contains('A')}" disabled>
                                <label class="form-check-label" th:if="${optStat.index eq 0}">A、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 1}" value="B"
                                       th:checked="${homeworkAnswerList[workStat.index].workAnswer.contains('B')}" disabled>
                                <label class="form-check-label" th:if="${optStat.index eq 1}">B、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 2}" value="C"
                                       th:checked="${homeworkAnswerList[workStat.index].workAnswer.contains('C')}" disabled>
                                <label class="form-check-label" th:if="${optStat.index eq 2}">C、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 3}" value="D"
                                       th:checked="${homeworkAnswerList[workStat.index].workAnswer.contains('D')}" disabled>
                                <label class="form-check-label" th:if="${optStat.index eq 3}">D、[[${opt}]]</label>
                            </div>

                            <!--当用户未做练习-->
                            <div class="form-check" th:each="opt : ${work.workOption.split(',')}" th:if="${homeworkAnswerList.size() eq 0}">
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 0}" value="A" required>
                                <label class="form-check-label" th:if="${optStat.index eq 0}">A、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 1}" value="B" required>
                                <label class="form-check-label" th:if="${optStat.index eq 1}">B、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 2}" value="C" required>
                                <label class="form-check-label" th:if="${optStat.index eq 2}">C、[[${opt}]]</label>
                                <input th:type="${work.workType}" class="form-check-input" name="workAnswer" th:if="${optStat.index eq 3}" value="D" required>
                                <label class="form-check-label" th:if="${optStat.index eq 3}">D、[[${opt}]]</label>
                            </div>
                            <div th:if="${homeworkAnswerList.size() ne 0}">
                                你的选择：<strong th:class="${homeworkAnswerList[workStat.index].workAnswer eq work.workAnswer?'text-info':'text-danger'}">[[${homeworkAnswerList[workStat.index].workAnswer}]]</strong><br>
                                正确答案：<strong th:text="${work.workAnswer}">A</strong><p>解析：[[${work.workAnalysis}]]</p>
                            </div>
                        </div>

                        <div class="bt-1 border-color-1 mb-15" style="width: 100%"></div>

                    </div>

                </form>
                <button th:if="${homeworkList.size() ne 0 && homeworkAnswerList.size eq 0}" type="button" class="button button-contactForm btn-block" onclick="workSubmit()">
                    提交
                </button>
            </div>

            <!--Comments-->
            <div class="comments-area" th:fragment="comment_area" id="comment_area">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">评论</h5>
                </div>

                <div class="comment-list wow fadeIn animated text-center"
                     th:if="${firstComments.getNumberOfElements() eq 0}">
                    暂无评论
                </div>
                <div class="comment-list wow fadeIn animated" th:if="${firstComments.getNumberOfElements() ne 0}"
                     th:each="firstComment : ${firstComments.getContent()}">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img th:src="'/media/user/img/default.jpg'" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment" th:text="${firstComment.commentContent}">
                                    评论内容
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a th:href="@{/profile/}+${firstComment.userName}"
                                               th:text="${firstComment.userName}">用户名</a>
                                        </h5>
                                        <p class="date"
                                           th:text="${#dates.format(firstComment.commentTime,'yyyy-MM-dd HH:mm:ss')}">
                                            2022-03-16 17:02:08 </p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="javascript:void(0);" class="btn-reply" data-toggle="modal"
                                           data-target="#exampleModal"
                                           th:attr="data-whatever=${firstComment.commentId}">&nbsp;回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-comment depth-2 justify-content-between d-flex mt-50"
                         th:if="${secondComments.get(firstComment.commentId) ne null}"
                         th:each="secondComment : ${secondComments.get(firstComment.commentId)}">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img th:src="'/media/user/img/default.jpg'" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                    <a th:href="@{/profile/}+${firstComment.userName}">@[[${firstComment.userName}]]</a>：[[${secondComment.commentContent}]]
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a th:href="@{/profile/}+${secondComment.userName}"
                                               th:text="${secondComment.userName}">用户名</a>
                                        </h5>
                                        <p class="date"
                                           th:text="${#dates.format(secondComment.commentTime,'yyyy-MM-dd HH:mm:ss')}">
                                            2022-03-16 17:05:56 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--comment form-->
            <div class="comment-form wow fadeIn animated">
                <form class="form-contact comment_form" id="commentForm">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="hidId" name="courseId" th:value="${course.courseId}">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="commentContent" id="commentContent" cols="30"
                                          rows="9" placeholder="发表你的评论..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn button button-contactForm">评论</button><label style="margin: 0px 10px ">或</label>
                        <a th:href="@{/topic/add/}+${course.courseId}" class="btn button button-contactForm" target="_blank">发起讨论</a>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <!--container-->
</main>

<!--评论回复-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">回复</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="replyForm">
                    <div class="form-group">
                        <input type="hidden" name="commentId" value="">
                        <label class="col-form-label">回复内容：</label>
                        <textarea class="form-control" name="commentContent" id="replyArea"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" onclick="ConfirmReply()" class="btn btn-primary">回复</button>
            </div>
        </div>
    </div>
</div>

<!--在线咨询-->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalLabel">在线咨询</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe th:src="@{/chat/}+${course.courseCreater}" style="width: 100%;height: 600px" frameborder="0"
                        scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>


<!--site-bottom-->
<div th:insert="~{common/menu-front::front-bottom}"></div>
<!--end site-bottom-->
<!-- Footer Start-->
<footer th:insert="~{common/menu-front::front-footer}"></footer>
<!-- End Footer -->
<div class="dark-mark"></div>
<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/jquery.slicknav.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/vendor/jquery.ticker.js"></script>
<script src="/assets/js/vendor/jquery.vticker-min.js"></script>
<script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
<script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
<script src="/assets/js/vendor/jquery.sticky.js"></script>
<script src="/assets/js/vendor/perfect-scrollbar.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
<!--notification js-->
<script src="/plugins/notifications/js/lobibox.min.js"></script>
<script src="/plugins/notifications/js/notifications.min.js"></script>
<script src="/plugins/notifications/js/notification-custom-script.js"></script>
<!-- NewsBoard JS -->
<script src="/assets/js/main.js"></script>
<script src="/js/config.js"></script>
<script src="/js/page/front/course-info.js" id="courseInfoScript" th:data="${course.courseId}"></script>
</body>

</html>