<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>线上教学平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
<!--Offcanvas sidebar-->
<aside th:insert="~{common/menu-front::front-sidebar}"></aside>
<!-- Start Header -->
<header th:insert="~{common/menu-front::front-header}"></header>
<!--Start search form-->
<div th:insert="~{common/menu-front::front-search}"></div>

<main class="bg-grey pb-30">

    <div class="container single-content">
        <div class="entry-header pt-80 pb-30 mb-20">
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-sm-3">
                    <figure class="mb-0 mt-lg-0 mt-3 border-radius-5">
                        <img class=" border-radius-5" th:src="'/media/course/img/'+${course.courseImg}" alt="">
                    </figure>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="post-content">
                        <div class="entry-meta meta-0 mb-15 font-small">
                            <a href="category.html" th:each="tag:${tagList}"><span
                                    class="post-cat position-relative text-info text-capitalize"
                                    th:text="${tag.tagName}">标签1</span></a>
                        </div>
                        <h1 class="entry-title mb-30 font-weight-900" th:text="${course.courseName}">
                            课程标题
                        </h1>
                        <p class="excerpt mb-30">
                            课程简介： [[${course.courseDetail}]]
                        </p>
                        <div class="entry-meta align-items-center meta-2 font-small color-muted">
                            <p class="mb-5">
                                <a class="author-avatar" th:href="@{/profile/}+${course.courseCreater}">
                                    <img class="img-circle" th:src="'/media/user/img/'+${createrImg}" alt=""></a>
                                By <a th:href="@{/profile/}+${course.courseCreater}"><span
                                    class="author-name font-weight-bold"
                                    th:text="${course.courseCreater}">创建者</span></a>
                            </p>
                            <span class="mr-10" th:text="${#dates.format(course.courseCreateTime,'yyyy-MM-dd')}"> 2022-03-17 </span>
                            <span class="has-dot"> <strong th:text="${courseLearningNum}">0</strong>人正在学习</span>
                        </div>
                        <div class="form-group mt-30">
                            <button type="button" class="button button-contactForm btn-block" onclick="toInfo()"
                                    th:if="${isLearning}">
                                进入学习
                            </button>
                            <button type="button" class="button button-contactForm btn-block" onclick="addCourseUser()"
                                    th:if="${!isLearning}">
                                开始学习
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end single header-->

    </div>
    <!--container-->
</main>

<!--site-bottom-->
<div th:insert="~{common/menu-front::front-bottom}"></div>
<!--end site-bottom-->
<!-- Footer Start-->
<footer th:insert="~{common/menu-front::front-footer}"></footer>
<!-- End Footer -->
<div class="dark-mark"></div>
<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/jquery.slicknav.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/vendor/jquery.ticker.js"></script>
<script src="/assets/js/vendor/jquery.vticker-min.js"></script>
<script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
<script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
<script src="/assets/js/vendor/jquery.sticky.js"></script>
<script src="/assets/js/vendor/perfect-scrollbar.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
<!-- NewsBoard JS -->
<script src="/js/config.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/js/config.js"></script>
<script th:inline="javascript">
    var courseId = /*[[${course.courseId}]]*/ 1;
    var userName = /*[[${session.userName}]]*/ "";

    function addCourseUser() {
        $.ajax({
            url: Const.domain + "courseUser/add",
            type: "POST",
            data: {
                userName: userName,
                courseId: courseId
            },
            success: function (res) {
                toInfo();
            }
        })
    }

    function toInfo() {
        window.location.href = "/course/info/" + courseId;
    }
</script>
</body>

</html>