<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>线上教学平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- NewsBoard CSS  -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/widgets.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" href="/plugins/notifications/css/css.css">
  <link rel="stylesheet" href="/plugins/notifications/css/lobibox.min.css">
  <link href="/css/icons.css" rel="stylesheet">
</head>

<body>
<!--Offcanvas sidebar-->
<aside th:insert="~{common/menu-front::front-sidebar}"></aside>
<!-- Start Header -->
<header th:insert="~{common/menu-front::front-header}"></header>
<!--Start search form-->
<div th:insert="~{common/menu-front::front-search}"></div>

<main class="pt-80 pb-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-md-10">
        <div class="login_wrap widget-taber-content p-30 bg-white border-radius-10">
          <div class="padding_eight_all bg-white">
            <div class="heading_s1 text-center">
              <h3 class="mb-30 font-weight-900">注册</h3>
            </div>
            <form id="regForm">
              <div class="form-group">
                <input type="text" class="form-control" name="userName" placeholder="请输入用户名" th:minlength="4" th:maxlength="30" th:required="true">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="userEmail" placeholder="请输入邮箱" th:required="true">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="userPwd" placeholder="请输入密码" th:minlength="6" th:maxlength="30" th:required="true">
              </div>
              <!--              <div class="login_footer form-group">-->
              <!--                <div class="chek-form">-->
              <!--                  <div class="custome-checkbox">-->
              <!--                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">-->
              <!--                    <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--                <a class="text-muted" href="page-login.html#">Forgot password?</a>-->
              <!--              </div>-->
              <div class="form-group">
                <button type="submit" class="button button-contactForm btn-block">注册</button>
              </div>
            </form>
            <div class="divider-text-center mt-15 mb-15">
              <span> or</span>
            </div>
            <div class="text-center">已拥有账号？ <a th:href="@{/login}">点击此处登录</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Footer Start-->
<footer th:insert="~{common/menu-front::front-footer}"></footer>
<!-- End Footer -->
<div class="dark-mark"></div>
<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/jquery.slicknav.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/vendor/jquery.ticker.js"></script>
<script src="/assets/js/vendor/jquery.vticker-min.js"></script>
<script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
<script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
<script src="/assets/js/vendor/jquery.sticky.js"></script>
<script src="/assets/js/vendor/perfect-scrollbar.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/jquery.theia.sticky.js"></script>

<!--notification js-->
<script src="/plugins/notifications/js/lobibox.min.js"></script>
<script src="/plugins/notifications/js/notifications.min.js"></script>
<script src="/plugins/notifications/js/notification-custom-script.js"></script>

<!-- NewsBoard JS -->
<script src="/assets/js/main.js"></script>
<script src="/js/config.js"></script>
<script src="/js/page/front/register.js"></script>
</body>

</html>