<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>线上教学平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link href="/css/icons.css" rel="stylesheet">
</head>

<body>
    <!--Offcanvas sidebar-->
    <aside th:insert="~{common/menu-front::front-sidebar}"></aside>
    <!-- Start Header -->
    <header th:insert="~{common/menu-front::front-header}"></header>
    <!--Start search form-->
    <div th:insert="~{common/menu-front::front-search}"></div>

    <main>
        <!--archive header-->
        <div class="archive-header pt-50">
            <div class="container">
                <h2 class="font-weight-900">论坛</h2>
                <div class="breadcrumb">
                    <a th:href="@{/}" rel="nofollow">首页</a>
                    <span></span> 论坛
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-50"></div>
            </div>
        </div>
        <div class="pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-module-3">
                            <div class="loop-list loop-list-style-1">
                                <div class="mb-30">
                                    <a th:href="@{/topic/add}" class="btn btn-primary px-5 radius-30"><i class="bx bx-plus mr-1"></i>发起讨论</a>
                                    <div class="bt-1 border-color-1 mt-40 mb-40"></div>
                                </div>
                                <article class="hover-up-2 transition-normal wow fadeInUp animated" th:each="topic : ${topicPage.getContent()}">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-12 align-self-center">
                                            <div class="post-content">

                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a th:href="@{/topic/info/}+${topic.topicId}" th:text="${topic.topicTitle}">话题标题</a>
                                                </h5>
                                                <div class="post-excerpt mb-25 font-small text-muted">
                                                    <p>话题描述：[[${topic.topicDetail}]]</p>
                                                </div>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on" th:text="${#dates.format(topic.topicCreateTime,'yyyy-MM-dd HH:mm:ss')}">2022-03-17 10:15:58</span>
                                                    <span class="hit-count has-dot"><i class="elegant-icon icon_group"></i> [[${topic.topicViews}]]</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mb-40"></div>
                                </article>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="widget-area">

                            <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">大家都在讨论：</h5>
                                </div>
                                <div class="post-block-list post-module-1">
                                    <ul class="list-post">
                                        <li class="mb-30 wow fadeInUp animated" th:each="topic : ${hotTopicList}">
                                            <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                                <div class="post-content media-body">
                                                    <h6 class="post-title mb-15 text-limit-2-row font-medium"><a th:href="@{/topic/info/}+${topic.topicId}" th:text="${topic.topicTitle}">Spending Some Quality Time with Kids? It’s Possible</a></h6>
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on" th:text="${#dates.format(topic.topicCreateTime,'yyyy-MM-dd')}">05 August</span>
                                                        <span class="hit-count has-dot"><i class="elegant-icon icon_group"></i> [[${topic.topicViews}]]</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--site-bottom-->
    <div th:insert="~{common/menu-front::front-bottom}"></div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <footer th:insert="~{common/menu-front::front-footer}"></footer>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/wow.min.js"></script>
    <script src="/assets/js/vendor/jquery.ticker.js"></script>
    <script src="/assets/js/vendor/jquery.vticker-min.js"></script>
    <script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/assets/js/vendor/jquery.sticky.js"></script>
    <script src="/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/js/config.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>