<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>线上教学平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/plugins/editormd/css/editormd.css">
    <link rel="stylesheet" href="/plugins/notifications/css/css.css">
    <link rel="stylesheet" href="/plugins/notifications/css/lobibox.min.css">
    <link href="/css/icons.css" rel="stylesheet">
</head>

<body>
<!--Offcanvas sidebar-->
<aside th:insert="~{common/menu-front::front-sidebar}"></aside>
<!-- Start Header -->
<header th:insert="~{common/menu-front::front-header}"></header>
<!--Start search form-->
<div th:insert="~{common/menu-front::front-search}"></div>

<main class="bg-grey pt-10 pb-30">
    <div class="container single-content">
        <div class="entry-header entry-header-style-1 mb-50 pt-50">
            <h1 class="entry-title mb-50 font-weight-900" th:text="${topic.topicTitle}">
                话题标题
            </h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="entry-meta align-items-center meta-2 font-small color-muted">
                        <p class="mb-5">
                            <a class="author-avatar" th:href="@{/profile/}+${topic.topicCreater}">
                                <img class="img-circle" th:src="'/media/user/img/'+${creater.userImg}" alt="">
                            </a>
                            By <a th:href="@{/profile/}+${topic.topicCreater}"><span
                                class="author-name font-weight-bold" th:text="${topic.topicCreater}">创建者</span></a>
                        </p>
                        <span class="post-on"
                              th:text="${#dates.format(topic.topicCreateTime,'yyyy-MM-dd')}">2022-03-17</span>
                        <span class="hit-count has-dot"><i class="elegant-icon icon_group"></i> [[${topic.topicViews}]]</span>
                    </div>
                </div>
            </div>
        </div>

        <!--figure-->
        <article class="entry-wraper mb-50">
            <div class="author-bio p-30 mt-50 border-radius-10 bg-white wow fadeIn animated mb-20"
                 th:if="${course ne null}">
                <div class="author-image mb-30">
                    <a href="#"><img th:src="'/media/course/img/'+${course.courseImg}" alt="" class="avatar"
                                     style="object-fit: cover"></a>
                </div>
                <div class="author-info">
                    <h4 class="font-weight-bold mb-20"><span class="vcard author"><span class="fn"><a
                            th:href="@{/course/info/}+${course.courseId}">[[${course.courseName}]]<i class="bx bx-link-alt"></i></a></span></span>
                    </h4>
                    <div class="author-description text-muted text-limit-2-row" th:text="${course.courseDetail}">课程简介
                    </div>
                </div>
            </div>

            <div class="entry-main-content mb-40 wow fadeIn animated">
                <div id="test-editor">
                        <textarea th:text="${topic.topicDetail}">
                        </textarea>
                </div>
            </div>
            <div class="single-social-share clearfix wow fadeIn animated">
                <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                    <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>[[${firstComments.getNumberOfElements()}]]</span>
                    <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>[[${likeNum}]]</span>
                </div>
                <div class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4" id="likeDiv">
                    <li class="list-inline-item" th:if="${isLike}">
                        <button type="button" class="btn btn-info px-5 radius-30" onclick="cancelLike()">
                            <i class="bx bx-like mr-1"></i>已点赞
                        </button>
                    </li>
                    <li class="list-inline-item" th:if="${!isLike}">
                        <button type="button" class="btn btn-primary px-5 radius-30" onclick="addLike()">
                            <i class="bx bx-like mr-1"></i>点赞
                        </button>
                    </li>
                </div>
            </div>
            <!--Comments-->
            <div class="comments-area">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">评论</h5>
                </div>
                <div class="comment-list wow fadeIn animated text-center"
                     th:if="${firstComments.getNumberOfElements() eq 0}">
                    暂无评论
                </div>
                <div class="comment-list wow fadeIn animated" th:if="${firstComments.getNumberOfElements() ne 0}"
                     th:each="firstComment : ${firstComments.getContent()}">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img th:src="'/media/user/img/default.jpg'" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment" th:text="${firstComment.commentContent}">
                                    评论内容
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a th:href="@{/profile/}+${firstComment.userName}"
                                               th:text="${firstComment.userName}">用户名</a>
                                        </h5>
                                        <p class="date"
                                           th:text="${#dates.format(firstComment.commentTime,'yyyy-MM-dd HH:mm:ss')}">
                                            2022-03-16 17:02:08 </p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="javascript:void(0);" class="btn-reply" data-toggle="modal"
                                           data-target="#exampleModal"
                                           th:attr="data-whatever=${firstComment.commentId}">&nbsp;回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-comment depth-2 justify-content-between d-flex mt-50"
                         th:if="${secondComments.get(firstComment.commentId) ne null}"
                         th:each="secondComment : ${secondComments.get(firstComment.commentId)}">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img th:src="'/media/user/img/default.jpg'" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                    <a th:href="@{/profile/}+${firstComment.userName}">@[[${firstComment.userName}]]</a>：[[${secondComment.commentContent}]]
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a th:href="@{/profile/}+${secondComment.userName}"
                                               th:text="${secondComment.userName}">用户名</a>
                                        </h5>
                                        <p class="date"
                                           th:text="${#dates.format(secondComment.commentTime,'yyyy-MM-dd HH:mm:ss')}">
                                            2022-03-16 17:05:56 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--comment form-->
            <div class="comment-form wow fadeIn animated">
                <form class="form-contact comment_form" id="commentForm">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" name="topicId" th:value="${topic.topicId}">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="commentContent" id="commentContent" cols="30"
                                          rows="9" placeholder="发表你的评论..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn button button-contactForm">评论</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="replyForm">
                    <div class="form-group">
                        <input type="hidden" name="commentId" value="">
                        <label class="col-form-label">回复内容：</label>
                        <textarea class="form-control" name="commentContent"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" onclick="ConfirmReply()" class="btn btn-primary">回复</button>
            </div>
        </div>
    </div>
</div>

<!--site-bottom-->
<div th:insert="~{common/menu-front::front-bottom}"></div>
<!--end site-bottom-->
<!-- Footer Start-->
<footer th:insert="~{common/menu-front::front-footer}"></footer>
<!-- End Footer -->
<div class="dark-mark"></div>
<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/jquery.slicknav.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/vendor/jquery.ticker.js"></script>
<script src="/assets/js/vendor/jquery.vticker-min.js"></script>
<script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
<script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
<script src="/assets/js/vendor/jquery.sticky.js"></script>
<script src="/assets/js/vendor/perfect-scrollbar.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
<!--editormd js-->
<script src="/plugins/editormd/js/editormd.min.js"></script>
<script src="/plugins/editormd/lib/flowchart.min.js"></script>
<script src="/plugins/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/plugins/editormd/lib/marked.min.js"></script>
<script src="/plugins/editormd/lib/prettify.min.js"></script>
<script src="/plugins/editormd/lib/raphael.min.js"></script>
<script src="/plugins/editormd/lib/sequence-diagram.min.js"></script>
<script src="/plugins/editormd/lib/underscore.min.js"></script>

<!--notification js-->
<script src="/plugins/notifications/js/lobibox.min.js"></script>
<script src="/plugins/notifications/js/notifications.min.js"></script>
<script src="/plugins/notifications/js/notification-custom-script.js"></script>
<!-- NewsBoard JS -->
<script src="/js/config.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/js/page/front/topic-info.js" id="topicInfoScript" th:data="${topic.topicId}"></script>
</body>

</html>